@{
    ViewData["Title"] = "Email";
    PlanningPoker.Core.Entities.Game Game = ViewBag.Game;
    PlanningPoker.Core.Entities.Player player = ViewBag.Player;
}

<div class="text-center">
    <h1 class="display-4">Email and Come Back to Play</h1>
    <span>
        Just enter your email address and we will drop you a quick note with a link you can use
        to come back and play. It will also have a link your players can use to join the game.
    </span>
    <form id="emailAddressForm" action="~/Home/SendGmStartEmail">
        <input type="text" id="emailAddress" name="emailAddress" />
        <input type="text" id="playerName" name="PlayerName" value="@player.PlayerName" style="display:none" />
        <input type="text" id="gameId" name="GameId" value="@Game.GameId" style="display:none" />
        <input type="submit" id="submit" name="submit" value="Submit" />
    </form>
</div>