
@{
    ViewData["Title"] = "Game Master";
    PlanningPoker.Core.Entities.Game game = ViewBag.Game;
    PlanningPoker.Core.Entities.Player player = ViewBag.Player;
}

<h1>@game.GameName</h1>

<span> Link that players use to join the game: http://planningpoker.harbargerdev.com/Home/PlayerStart?gameId=@game.GameId </span>
<br />
<br />
<form action="/Home/GameMasterZone">
    <input type="text" name="gameId" value="@game.GameId" style="display:none" />
    <input type="submit" value="Start" />
</form>
<br />
<form action="~/Home/GameMasterStartEmail">
    <input type="text" name="playerId" id="playerId" value="@player.PlayerId" style="display:none" />
    <input type="text" name="gameId" id="gameId" value="@game.GameId" style="display:none" />
    <input type="submit" id="navEmail" name="navEmail" value="Email Me a Link" />
</form>