
@{
    ViewData["Title"] = "Game Master";
    PlanningPoker.Core.Entities.Game game = ViewBag.Game;
}

<h1>@game.GameName</h1>

<span> Link that players can use to join the game: https://localhost:44383/Home/PlayerStart?gameId=@game.GameId </span>

<form action="/Home/GameMasterZone">
    <input type="text" name="gameId" value="@game.GameId" style="display:none" />
    <input type="submit" value="Start" />
</form>