@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Planning Poker</h1>
    <span>
        Welcome to Planning Poker by <a href="http://www.harbargerdev.com/">harbargerdev</a>. This is a simple way to help remote teams come together and estimate
        work. The advantage to doing planning poker, is there isn't just one person who dictates the size, everyone has
        a change to input their size anonymously.
    </span>
</div>
<br />
<br />
<form id="gameMasterForm" action="/Home/GameMasterStart">
    <table style="width: 95%">
        <tr>
            <td style="width: 20%"><label for="playerName">Game Master Name:</label></td>
            <td><input type="text" id="playerName" name="playerName" /></td>
        </tr>
        <tr>
            <td><label for="gameName">Game Title:</label></td>
            <td><input type="text" id="gameName" name="gameName" /></td>
        </tr>
        <tr>
            <td><input type="submit" id="submitButton" name="submitButton" value="Start Game!" /></td>
        </tr>
    </table>
</form>