@{
    ViewData["Title"] = "Player Start";
}

<h1>Welcome to Planning Poker</h1>

<form action="/Home/PlayerCreation">
    <table>
        <tr>
            <td style="width: 20%"><label for="playerName">Name:</label></td>
            <td><input type="text" id="playerName" name="playerName" /></td>
        </tr>
        <tr>
            <td><label for="playerType">Role:</label></td>
            <td>
                @Html.RadioButton("Role", "Developer") <span>Developer</span>
                @Html.RadioButton("Role", "Tester") <span>Tester</span>
            </td>
        </tr>
        <tr>
            <td><input type="submit" id="submit" name="submit" value="Join!" /></td>
            <td><input type="text" name="gameId" value="@ViewBag.GameId" style="display:none" /></td>            
        </tr>
    </table>
</form>