@{
    ViewData["Title"] = "Thank You";
}

<div class="text-center">
    <h1 class="display-4">Come back soon</h1>
    <span>
        Check your inbox for a message here real soon and it will have a link to get back into the game.
    </span>
</div>