@{
    ViewData["Title"] = "Thank You";
}

<div class="text-center">
    <h1 class="display-4">Come back soon</h1>
    <span>
        Check your inbox for your email. If you don't recieve it double check your spam folder. Any links contained in the emails
        are valid for only 6 days.
    </span>
</div>